.container
    .in
        .title-bl
            h2 Contact us
        .description Over 5000+ clients in less than 1.5 years including Fortune 500 companies. Some of them are listed below.
        .contact__form
            form
                .111
                    .contact__left
                        .control-group
                            label.control-label(for='nameinput')
                            .controls
                                input#nameinput.input-xlarge(name='name', type='text', placeholder='Enter your name')
                        .control-group
                            label.control-label(for='emailinput')
                            .controls
                                input#emailinput.input-xlarge(name='email', type='text', placeholder='Enter your email')
                        .control-group
                            label.control-label(for='subjectinput')
                            .controls
                                input#subjectinput.input-xlarge(name='subject', type='text', placeholder='Enter your subject')
                    .contact__right
                        .control-group
                            label.control-label(for='messagetextarea')
                            .controls
                                textarea#messagetextarea(name='message' rows="8")
                .222
                    .contact__bottom
                        .control-group
                                label.control-label(for='btn-contact')
                                .controls
                                    button#btn-contact.btn-contact(name='btn-contact') Submit