extends ./includes/layout

block content
    .main
        #wayp-2.about.tracked
            .container
                .in
                    .about__left
                        .title-bl
                            h2 We are Omega!
                        .description
                            span.mygreen We build breathtaking apps & we never stop learning. That’s what we do.
                        p Lorem ipsum dolor sit amet, consectetur adipiscing. Quisque congue dui et justo vulputate, eget vehicula lorem fringilla. Vestibulum vitae edor dolor euimod, scelerisque emenim sed, consectetur nibh.
                    .about__right
                        img(src="images/tablet.png" class="img-responsive", alt="tablet")
        #wayp-3.whatwedo.tracked
            //- include whatwedo
        #wayp-4.parallax.tracked
            .container
                .in
                    .parallax__item
                        img(src="images/heart.png", alt="heart")
                        h3#countUp1
                        p Lovely clients
                    .parallax__item
                        img(src="images/trumpet.png", alt="trumpet")
                        h3#countUp2
                        p Listened to music
                    .parallax__item
                        img(src="images/cup.png", alt="cup")
                        h3#countUp3
                        p Awards & Recognition
                    .parallax__item
                        img(src="images/dl-arrow.png", alt="dl-arrow")
                        h3#countUp4
                        p Downloads
        #wayp-5.Team.tracked
            include slider
        #wayp-6.portfolio.tracked
            include portfolio
        #wayp-7.pricing.tracked
            include pricing
        #wayp-8.clients.tracked
            .container
                .in
                    .title-bl
                        h2 Our clients
                    .description Over 5000+ clients in less than 1.5 years including Fortune 500 companies. Some of them are listed below.
                    .clients__list
                        ul
                            li
                                a(href="" class="clients__list--1") graphicriver
                            li
                                a(href="" class="clients__list--2") themeforest
                            li
                                a(href="" class="clients__list--3") audiojungle
                            li
                                a(href="" class="clients__list--4") codecanyon
                            li
                                a(href="" class="clients__list--5") activeden
        #wayp-9.contact.tracked
            include contact