.container
    .in
        .title-bl
            h2 What we’ve done
        .description We combine intelligent thinking with stimulating design to keep your brand engaging and help challenging brands find their clarity.
        .portfolio__filter
            ul
                li
                    a(href="#" class="active") All
                li
                    a(href="#") Logo Design
                li
                    a(href="#") Mobile Development
                li
                    a(href="#") Painting
                li
                    a(href="#") Design-3D
.container-lg
    .portfolio__content
        .portfolio__item
            img(src="images/pie-chart.jpg", alt="pie-chart" class ="img-responsive")
            .portfolio__title Awesome Pie Chart
            .portfolio__category UI Design
        .portfolio__item
            img(src="images/secretlaura.jpg", alt="secretlaura" class ="img-responsive")
            .portfolio__title Awesome Pie Chart
            .portfolio__category UI Design
        .portfolio__item
            img(src="images/tilt-logo.jpg", alt="tilt-logo" class ="img-responsive")
            .portfolio__title Awesome Pie Chart
            .portfolio__category UI Design
        .portfolio__item
            img(src="images/sportsman.jpg", alt="sportsman" class ="img-responsive")
            .portfolio__title Awesome Pie Chart
            .portfolio__category UI Design
        .portfolio__item
            img(src="images/ahhh-monster.jpg", alt="ahhh-monster" class ="img-responsive")
            .portfolio__title Awesome Pie Chart
            .portfolio__category UI Design
        .portfolio__item
            img(src="images/bag.jpg", alt="bag" class ="img-responsive")
            .portfolio__title Awesome Pie Chart
            .portfolio__category UI Design
        .portfolio__item
            img(src="images/hytek.jpg", alt="hytek" class ="img-responsive")
            .portfolio__title Awesome Pie Chart
            .portfolio__category UI Design
        .portfolio__item
            img(src="images/dolphin.jpg", alt="dolphin" class ="img-responsive")
            .portfolio__title Awesome Pie Chart
            .portfolio__category UI Design
        .portfolio__item
            img(src="images/unbeanannt.jpg", alt="unbeanannt" class ="img-responsive")
            .portfolio__title Awesome Pie Chart
            .portfolio__category UI Design
        .portfolio__item
            img(src="images/kidsquest.jpg", alt="kidsquest" class ="img-responsive")
            .portfolio__title Awesome Pie Chart
            .portfolio__category UI Design