//Mixin for overlay images
mixin ximg(imgsrc)
  .portfolio__item
    .xoverlay.x-simple
        img.portfolio__img.img-responsive.x-img-main(src=imgsrc, alt="pie-chart")
        .portfolio__data
            .portfolio__title Awesome Pie Chart
            .portfolio__category UI Design
        .xoverlay-box
            .xoverlay-data
                img.portfolio__shape-img(src="../images/shape.png", alt="")
//Portfolio
.container
    .in
        .title-bl
            h2 What we’ve done
        .description We combine intelligent thinking with stimulating design to keep your brand engaging and help challenging brands find their clarity.
        .portfolio__filter
            ul
                li
                    a(href="#" class="active") All
                li
                    a(href="#") Logo Design
                li
                    a(href="#") Mobile Development
                li
                    a(href="#") Painting
                li
                    a(href="#") Design-3D
.container-lg
    .portfolio__content
        +ximg("../images/pie-chart.jpg")
        +ximg("../images/secretlaura.jpg")
        +ximg("../images/tilt-logo.jpg")
        +ximg("../images/sportsman.jpg")
        +ximg("../images/ahhh-monster.jpg")
        +ximg("../images/bag.jpg")
        +ximg("../images/hytek.jpg")
        +ximg("../images/dolphin.jpg")
        +ximg("../images/unbeanannt.jpg")
        +ximg("../images/kidsquest.jpg")