.container
    .in
        .title-bl
            h2 Pricing tables
        .description
            p We have flexible pricing options that caters your need.
            p Below is our lightweight pricing table.
        .pricing__item
            .pricing__name Basic
            .pricing__quantity
                span.pricing__quantity__dollar $
                span 299
                span.pricing__quantity__month / month
            .pricing__specs
                ul
                    li Web Design
                    li Creative Retouching
                    li CG Prouction
                    li Tech Support
                    li Branding
            .pricing__signup
                button.btn-signup Signup Now
        .pricing__item
            .pricing__name Standard
            .pricing__quantity
                span.pricing__quantity__dollar $
                span 399
                span.pricing__quantity__month / month
            .pricing__specs
                ul
                    li Web Design
                    li Creative Retouching
                    li CG Prouction
                    li Tech Support
                    li Branding
            .pricing__signup
                button.btn-signup Signup Now
        .pricing__item.mygreen
            .pricing__name Premium
            .pricing__quantity
                span.pricing__quantity__dollar $
                span 499
                span.pricing__quantity__month / month
            .pricing__specs
                ul
                    li Web Design
                    li Creative Retouching
                    li CG Prouction
                    li Tech Support
                    li Branding
            .pricing__signup
                button.btn-signup.mygreen-bg Signup Now
        .pricing__item
            .pricing__name Professional
            .pricing__quantity
                span.pricing__quantity__dollar $
                span 599
                span.pricing__quantity__month / month
            .pricing__specs
                ul
                    li Web Design
                    li Creative Retouching
                    li CG Prouction
                    li Tech Support
                    li Branding
            .pricing__signup
                button.btn-signup Signup Now