.container
    .in
        .title-bl
            h2 What we do
        .description  We're an energetic and determined team driven by results, committed to helping your business succeed.
        .whatwedo__item
            .whatwedo__card
                .front
                    a(href="#" class="whatwedo__link-1")
                .back
                    a(href="#" class="whatwedo__link-1-hover")
            h3 Unique DESIGN
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
        .whatwedo__item
            .whatwedo__card
                .front
                    a(href="#" class="whatwedo__link-2")
                .back
                    a(href="#" class="whatwedo__link-2-hover")
            h3 FRIENDLY SUPPORT
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
        .whatwedo__item
            .whatwedo__card
                .front
                    a(href="#" class="whatwedo__link-3")
                .back
                    a(href="#" class="whatwedo__link-3-hover")
            h3 CREATIVE SOLUTION
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
        .whatwedo__item
            .whatwedo__card
                .front
                    a(href="#" class="whatwedo__link-4")
                .back
                    a(href="#" class="whatwedo__link-4-hover")
            h3 OUT OF THE BOX IDEAS
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.