$s-big-quotes-down = 0px 0px 0px 0px 77px 73px 158px 138px '../images/design/sprite.png';
$s-big-quotes-up = 81px 0px -81px 0px 77px 73px 158px 138px '../images/design/sprite.png';
$s-browser = 0px 77px 0px -77px 32px 32px 158px 138px '../images/design/sprite.png';
$s-camera = 36px 77px -36px -77px 32px 32px 158px 138px '../images/design/sprite.png';
$s-chat = 136px 77px -136px -77px 20px 20px 158px 138px '../images/design/sprite.png';
$s-circled-left = 0px 113px 0px -113px 25px 25px 158px 138px '../images/design/sprite.png';
$s-circled-right = 29px 113px -29px -113px 25px 25px 158px 138px '../images/design/sprite.png';
$s-heart-like = 58px 113px -58px -113px 20px 17px 158px 138px '../images/design/sprite.png';
$s-iphone = 72px 77px -72px -77px 24px 32px 158px 138px '../images/design/sprite.png';
$s-load-arrow = 102px 113px -102px -113px 31px 9px 158px 138px '../images/design/sprite.png';
$s-search-loupe = 82px 113px -82px -113px 16px 16px 158px 138px '../images/design/sprite.png';
$s-trash = 100px 77px -100px -77px 32px 32px 158px 138px '../images/design/sprite.png';
