/*--------------------------------------------------*\
    # Variables
\*--------------------------------------------------*/
/*Colors*/
orange = #e8776b
blue = #5e95cd
brown = #45372f
dark-blue = #22252a
//Navbar
$navbar-default-bg ?= dark-blue
$navbar-default-border ?= transparent
// Navbar links
$navbar-default-link-color ?=              #c4c5c6
$navbar-default-link-hover-color ?=        #82c339
$navbar-default-link-hover-bg ?=           transparent
$navbar-default-link-active-color ?=       #82c339
$navbar-default-link-active-bg ?=          darken($navbar-default-bg, 6.5%)
$navbar-default-link-disabled-color ?=     #ccc
$navbar-default-link-disabled-bg ?=        transparent
//font
$font-family-base ?= 'Roboto', sans-serif
$font-size-base ?= 16px