$s-activeden-hover = 0px 517px 0px -517px 29px 31px 59px 1345px '../images/sprite.png';
$s-activeden = 0px 476px 0px -476px 29px 31px 59px 1345px '../images/sprite.png';
$s-audiojungle-hover = 0px 558px 0px -558px 32px 34px 59px 1345px '../images/sprite.png';
$s-audiojungle = 0px 602px 0px -602px 32px 34px 59px 1345px '../images/sprite.png';
$s-box-hover = 0px 435px 0px -435px 29px 31px 59px 1345px '../images/sprite.png';
$s-box = 0px 394px 0px -394px 29px 31px 59px 1345px '../images/sprite.png';
$s-chevrone-left-hover = 0px 1168px 0px -1168px 50px 50px 59px 1345px '../images/sprite.png';
$s-chevrone-left = 0px 1108px 0px -1108px 50px 50px 59px 1345px '../images/sprite.png';
$s-chevrone-right-hover = 0px 1048px 0px -1048px 50px 50px 59px 1345px '../images/sprite.png';
$s-chevrone-right = 0px 988px 0px -988px 50px 50px 59px 1345px '../images/sprite.png';
$s-codecanyon-hover = 0px 115px 0px -115px 33px 29px 59px 1345px '../images/sprite.png';
$s-codecanyon = 0px 76px 0px -76px 33px 29px 59px 1345px '../images/sprite.png';
$s-cup = 0px 928px 0px -928px 50px 50px 59px 1345px '../images/sprite.png';
$s-dl-arrow = 0px 868px 0px -868px 50px 50px 59px 1345px '../images/sprite.png';
$s-graphicriver-hover = 0px 646px 0px -646px 39px 43px 59px 1345px '../images/sprite.png';
$s-graphicriver = 0px 699px 0px -699px 39px 43px 59px 1345px '../images/sprite.png';
$s-headphones-hover = 0px 38px 0px -38px 32px 28px 59px 1345px '../images/sprite.png';
$s-headphones = 0px 0px 0px 0px 32px 28px 59px 1345px '../images/sprite.png';
$s-heart = 0px 752px 0px -752px 50px 47px 59px 1345px '../images/sprite.png';
$s-scroll = 0px 1228px 0px -1228px 24px 51px 59px 1345px '../images/sprite.png';
$s-shape = 0px 1289px 0px -1289px 55px 56px 59px 1345px '../images/sprite.png';
$s-star-hover = 0px 354px 0px -354px 32px 30px 59px 1345px '../images/sprite.png';
$s-star = 0px 154px 0px -154px 32px 30px 59px 1345px '../images/sprite.png';
$s-themeforest-hover = 0px 314px 0px -314px 35px 30px 59px 1345px '../images/sprite.png';
$s-themeforest = 0px 274px 0px -274px 35px 30px 59px 1345px '../images/sprite.png';
$s-thumb-up-hover = 0px 234px 0px -234px 32px 30px 59px 1345px '../images/sprite.png';
$s-thumb-up = 0px 194px 0px -194px 32px 30px 59px 1345px '../images/sprite.png';
$s-trumpet = 0px 809px 0px -809px 59px 49px 59px 1345px '../images/sprite.png';
