@import 'variables'
@import 'bootstrap/index'
@import 'rupture/index'
@import '_sprite'
@import 'mixins'
@import 'helpers'
@import 'forms'
@import 'base'
@import 'slider'
@import 'portfolio'
@import 'footer'

/*Sample
make-xs-column(12)
make-sm-column(12)
make-md-column(5)
make-row()
*/

/*--------------------------------------------------*\
        # General
\*--------------------------------------------------*/
.jumbotron
    background: url(../images/jumbotron.jpg) no-repeat center top
    text-align center
    color #fff
    margin 0 0 0 0
    padding 0 0 0 0
    p
        font-size 1.3125em
    & .in
        padding 300px 0 400px 0
    h1
        font-size 4em;
.logo
    background url(../images/symbol.png) no-repeat center
    background-size 100% 100%
    height 150px
    width 150px
    display inline-block
.navbar
    font  bold 1.5em/1.5 Arimo,serif
    margin 0 0 0 0
    &-brand
        padding 12px 15px
    &-outer
        background-color $mygreen
.about
    background-color #fee
    & .in
        make-row()
        padding 100px 0 100px 0
    &__left
        make-xs-column(12)
        make-sm-column(12)
        make-md-column(7)
    &__right
        make-xs-column(12)
        make-sm-column(12)
        make-md-column(5)
.whatwedo
    background-color #f2f2f2
    & .in
        make-row()
        padding 90px 0 160px 0
    h3
        font-size 18px
    a
        display inline-block
        height 94px
        width 94px
    &__card
        display inline-block
        height 94px
        width 94px
    &__item
        make-xs-column(12)
        make-sm-column(6)
        make-md-column(3)
        text-align center
    &__link-1
        background-image: url(../images/thumb-up.png)
        &-hover
            background-image: url(../images/thumb-up-hover.png)
    &__link-2
        background-image: url(../images/headphones.png)
        &-hover
            background-image: url(../images/headphones-hover.png)
    &__link-3
        background-image: url(../images/star.png)
        &-hover
            background-image: url(../images/star-hover.png)
    &__link-4
        background-image: url(../images/box.png)
        &-hover
            background-image: url(../images/box-hover.png)
.parallax
    background-color #0b0a0a
    & .in
        make-row()
        +above(3)
            padding 100px 0 100px 0
    &__item
        make-xs-column(12)
        make-sm-column(6)
        make-md-column(3)
        text-align center
        +below(2)
            padding 100px 0 0 0
        h3
            font-size 2.8125em
            color #fff
        p
            color #666666
            font-size 1em
/*Portfolio in seperate file*/
.pricing
    & .in
        make-row()
        padding 90px 0 100px 0
    &__item
        make-xs-column(12)
        make-sm-column(6)
        make-md-column(3)
        text-align center
        padding 90px 15px 0 15px
    &__name
        text-transform uppercase
        font 25px/1.5 Lato,serif
        padding 0 0 22px 0
    &__quantity
        font 40px/1.5 Lato,serif
        padding 0 0 31px 0
        &__dollar
            font 38px/1.5 Lato,serif
        &__month
            font 14px/1.5 Lato,serif
    &__specs
        margin  0 0 20px 0
        li
            list-style-type: none
            border-bottom 1px solid #8a8d94
            font 13px/1.5 Open Sans,serif
            padding 10px 0 9px 0
            color #8a8d94
.clients
    background-color #f2f2f2
    & .in
        make-row()
        padding 100px 0 100px 0
    &__list
        text-align center
        margin 50px 0 10px 0
        li
            list-style-type none
            margin 10px 170px 10px 0
            +above(2)
                display inline-block
                margin 0 170px 0 0
        a
            color #292626
            font-size 1.25em
            display inline-block
            padding 0 0 0 50px
            background-repeat no-repeat
            font 26px/1.5 serif
        &--1
            sprite($s-graphicriver)
            margin 0 0 0 -15px
            padding 0 0 0 60px !important
            &:hover
                sprite($s-graphicriver-hover)
        &--2
            sprite($s-themeforest)
            &:hover
                sprite($s-themeforest-hover)
        &--3
            sprite($s-audiojungle)
            &:hover
                sprite($s-audiojungle-hover)
        &--4
            sprite($s-codecanyon)
            &:hover
                sprite($s-codecanyon-hover)
        &--5
            sprite($s-activeden)
            &:hover
                sprite($s-activeden-hover)
.contact
    & .in
        make-row()
        padding 100px 0 100px 0
