h2 Contact Us
.contact-us__form
	h3 Mail
	form(id="form" action="/" method="post")
		fieldset
			input(type="text" name="name" id="name" placeholder="Name")
			input(type="text" name="email" id="email" placeholder="Mail")
		fieldset
			p
				textarea(name="message" id="message" rows="6" placeholder="Message")
			button.btn-teal(type="submit") Submit mail
.contact-us__aside
	h3 More info
	ul
		li
			a(href="tel:25558885550320")
				span 2(555) 888 555 03 20
		li
			a(href="mailto:info@domain.com")
				span info@domain.com
		li
			a(href="skype:+7225612545?call") skype:<span>username</span>
		li John Dowl
		li 
			span Salt Talke city. UT
		li
			span 87550
button.btn-teal(type="submit") Purchaise