footer#footer.footer
	.footer__top
		.container-fixed
			.footer__top.in
				.footer__tweets
					h3 Recent tweets
					.footer__tweets__item
						h4
							i.fa.fa-twitter
							| booty, 15.10.2013
						p.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis ultrices massa. Phasellus laoreet consequat lorem, vel 
							egestas tortor ultricies eu.
					.footer__tweets__item
						h4
							i.fa.fa-twitter
							| booty, 9.10.2013
						p.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				.footer__posts
					h3 Recent posts
					.footer__posts__item
						h4 15.10.2013
						p.
							Maecenas et nisl pellentesque, fermentum ante facilisis, aliquet ligula. 
					.footer__posts__item
						h4 9.10.2013
						p.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					.footer__posts__item
						h4 9.10.2013
						p.
							Aliquam eu leo adipiscing, imperdiet arcu nec, malesuada lorem.	
				.footer__streams
					h3 Photo stream
					ul
						li
							a(href="")
								img(src="images/design/photo1.jpg", alt="")
						li
							a(href="")
								img(src="images/design/photo2.jpg", alt="")
						li
							a(href="")
								img(src="images/design/photo3.jpg", alt="")
						li
							a(href="")
								img(src="images/design/photo4.jpg", alt="")
						li
							a(href="")
								img(src="images/design/photo5.jpg", alt="")
						li
							a(href="")
								img(src="images/design/photo6.jpg", alt="")
						li
							a(href="")
								img(src="images/design/photo7.jpg", alt="")
						li
							a(href="")
								img(src="images/design/photo8.jpg", alt="")
						li
							a(href="")
								img(src="images/design/photo1.jpg", alt="")
						li
							a(href="")
								img(src="images/design/photo2.jpg", alt="")
	.footer__bottom
		.container-fixed
			.footer__bottom.in
				.footer__logo
					img(src="images/design/logo.png", alt="logo")
				.footer__contacts
					ul.contacts-list.pull-right
						li
							a(href="tel:25558885550320")
								span 2(555) 888 555 03 20
						li
							a(href="mailto:info@domain.com")
								span info@domain.com
						li
							a(href="skype:+7225612545?call") skype:<span>username</span>