header#header.header.b-dark-blue
	.container-fixed
		.b-dark-blue__in
			nav.navbar.navbar-default(role="navigation")
				.navbar-header
					a.navbar-brand( href="#") 
						img(src="images/design/logo.png", alt="logo")
				div
					ul.nav.navbar-nav.pull-right
						li.active
							a(href="#") Home
						li
							a(href="#") Services
						li
							a(href="#") Portfolio
						li
							a(href="#") Pricing
						li
							a(href="#") About
						li
							a(href="#") Contact			