h2 Our Price
.chart__big-block
	.chart.chart__black
		.plan-name Website hosting
		.quantity $10/month
		.specs
			.spec <span>2x</span> option 1
			.spec <span>Free</span> option 2
			.spec <span>Unlimited</span> option 3
			.spec <span>Unlimited</span> option 4
			.spec <span>1x</span> option 5
		a(href="#" class="btn-purchaise") Purchaise
.chart__big-block
	.chart.chart__white
		.plan-name Website hosting
		.quantity $10/month
		.specs
			.spec <span>2x</span> option 1
			.spec <span>Free</span> option 2
			.spec <span>Unlimited</span> option 3
			.spec <span>Unlimited</span> option 4
			.spec <span>1x</span> option 5
		a(href="#" class="btn-purchaise") Purchaise
.chart__big-block
	.chart.chart__black
		.plan-name Website hosting
		.quantity $10/month
		.specs
			.spec <span>2x</span> option 1
			.spec <span>Free</span> option 2
			.spec <span>Unlimited</span> option 3
			.spec <span>Unlimited</span> option 4
			.spec <span>1x</span> option 5
		a(href="#" class="btn-purchaise") Purchaise
// Chart-small
.chart__small-block
	.chart.chart__white.chart__black-top
		.plan-name Website hosting
		.quantity $10/month
		.specs
			.spec <span>2x</span> option 1
			.spec <span>Free</span> option 2
			.spec <span>Unlimited</span> option 3
			.spec <span>Unlimited</span> option 4
			.spec <span>1x</span> option 5
		a(href="#" class="btn-purchaise") Purchaise
.chart__small-block
	.chart.chart__white.chart__teal
		.plan-name Website hosting
		.quantity $10/month
		.specs
			.spec <span>2x</span> option 1
			.spec <span>Free</span> option 2
			.spec <span>Unlimited</span> option 3
			.spec <span>Unlimited</span> option 4
			.spec <span>1x</span> option 5
		a(href="#" class="btn-purchaise") Purchaise
.chart__small-block
	.chart.chart__white.chart__olive
		.plan-name Website hosting
		.quantity $10/month
		.specs
			.spec <span>2x</span> option 1
			.spec <span>Free</span> option 2
			.spec <span>Unlimited</span> option 3
			.spec <span>Unlimited</span> option 4
			.spec <span>1x</span> option 5
		a(href="#" class="btn-purchaise") Purchaise
.chart__small-block
	.chart.chart__white.chart__black-bottom
		.plan-name Website hosting
		.quantity $10/month
		.specs
			.spec <span>2x</span> option 1
			.spec <span>Free</span> option 2
			.spec <span>Unlimited</span> option 3
			.spec <span>Unlimited</span> option 4
			.spec <span>1x</span> option 5
		a(href="#" class="btn-purchaise") Purchaise
//Clients about us
.recall
	h3.recall__title Clients about us
	.recall__quotes
		.quotes-up
	.recall__excerption
		p
			span.recall__text Donec leo elit, dignissim eu elit vitae, aliquam tincidunt purus. Proin id risus ut sem vehicula faucibus. Fusce sed libero nec quam tempus facilisis. Vestibulum venenatis nisl ac feugiat aliquet. Sed euismod ligula arcu, et mollis est volutpat et. Aenean sed nulla placerat neque lacinia ullamcorper.
		p 
			span.recall__author #PERRY MALITON
	.recall__quotes
		.quotes-down