h2 Portfolio
ul.portfolio__filter
	li
		a(href="#") Web design
	li
		a(href="#") UI Design
	li
		a(href="#") Prototype
	li
		a(href="#" class="active") Photography
.portfolio__item
	figure
		img(src="images/design/portfolio-img.jpg", alt="portfolio-img")
		figcaption
			.portfolio__item__black-inner
				h3 Clean night sky
				span.portfolio__item__type photography
				ul.portfolio__list
					li
						a(href="#")
							i.portfolio__comments
							span 53
					li
						a(href="#")
							i.portfolio__likes
							span 230
.portfolio__item
	figure
		img(src="images/design/portfolio-img.jpg", alt="portfolio-img")
		figcaption
			.portfolio__item__black-inner
				h3 Clean night sky
				span.portfolio__item__type photography
				ul.portfolio__list
					li
						a(href="#")
							i.portfolio__comments
							span 53
					li
						a(href="#")
							i.portfolio__likes
							span 230
.portfolio__item
	figure
		img(src="images/design/portfolio-img.jpg", alt="portfolio-img")
		figcaption
			.portfolio__item__black-inner
				h3 Clean night sky
				span.portfolio__item__type photography
				ul.portfolio__list
					li
						a(href="#")
							i.portfolio__comments
							span 53
					li
						a(href="#")
							i.portfolio__likes
							span 230
.portfolio__item
	figure
		img(src="images/design/portfolio-img.jpg", alt="portfolio-img")
		figcaption
			.portfolio__item__black-inner
				h3 Clean night sky
				span.portfolio__item__type photography
				ul.portfolio__list
					li
						a(href="#")
							i.portfolio__comments
							span 53
					li
						a(href="#")
							i.portfolio__likes
							span 230
.portfolio__item
	figure
		img(src="images/design/portfolio-img.jpg", alt="portfolio-img")
		figcaption
			.portfolio__item__black-inner
				h3 Clean night sky
				span.portfolio__item__type photography
				ul.portfolio__list
					li
						a(href="#")
							i.portfolio__comments
							span 53
					li
						a(href="#")
							i.portfolio__likes
							span 230
.portfolio__item
	figure
		img(src="images/design/portfolio-img.jpg", alt="portfolio-img")
		figcaption
			.portfolio__item__black-inner
				h3 Clean night sky
				span.portfolio__item__type photography
				ul.portfolio__list
					li
						a(href="#")
							i.portfolio__comments
							span 53
					li
						a(href="#")
							i.portfolio__likes
							span 230
.portfolio__item
	figure
		img(src="images/design/portfolio-img.jpg", alt="portfolio-img")
		figcaption
			.portfolio__item__black-inner
				h3 Clean night sky
				span.portfolio__item__type photography
				ul.portfolio__list
					li
						a(href="#")
							i.portfolio__comments
							span 53
					li
						a(href="#")
							i.portfolio__likes
							span 230
.portfolio__item
	figure
		img(src="images/design/portfolio-img.jpg", alt="portfolio-img")
		figcaption
			.portfolio__item__black-inner
				h3 Clean night sky
				span.portfolio__item__type photography
				ul.portfolio__list
					li
						a(href="#")
							i.portfolio__comments
							span 53
					li
						a(href="#")
							i.portfolio__likes
							span 230
.portfolio__load-more
	a(href="#") Load more
		i