footer#footer.footer
	.container
		.in
			.footer__copy
				span.mygreen © Frittt Templates.
				| All Rights Reserved.
			.footer__social
				.card__list
					.card
						.front
							a(href="#")
								i.fa.fa-facebook
						.back
							a(href="#")
								i.fa.fa-facebook
					.card
						.front
							a(href="#")
								i.fa.fa-twitter
						.back
							a(href="#")
								i.fa.fa-twitter
					.card
						.front
							a(href="#")
								i.fa.fa-google-plus
						.back
							a(href="#")
								i.fa.fa-google-plus
					.card
						.front
							a(href="#")
								i.fa.fa-linkedin
						.back
							a(href="#")
								i.fa.fa-linkedin